@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #2dd4bf;
    --color-primary-tint: #99f6e4;
    --color-primary-shade: #14b8a6;
    --color-primary-contrast: var(--color-primary-shade);
    --color-background: #f5f5f5;
    --color-background-muted: #e2e2e2;
    --color-background-flash: #fff;
    --color-header-background: 255, 255, 255;
    --color-text: #101010;
    --color-text-muted: #545b6f;
    --color-focus: #fd0;
    --color-text-focus: #000;
}